main {
    .home {
        height: calc(100vh - 180px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    a {
        background-color: rgb(4, 60, 128);
        border-radius: 15px;
        padding: 10px 15px;

        &:hover {
            background-color: rgb(10, 89, 186);
        }

        &:last-child {
            background-color: rgb(10, 186, 154);

            &:hover {
                background-color: rgb(10, 89, 186);
            }
        }
    }
}
